@model doan_cnpm.Models.ViewModel.AppointmentDetailsViewModel
@using doan_cnpm.Extensions
@using doan_cnpm.Utility

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Edit Appointment</h2>

<form method="post" enctype="multipart/form-data">
    <div class="p-4 border rounded row">
        <input hidden asp-for="Appointment.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.Appointment.CustomerName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="@Model.Appointment.CustomerName" class="form-control" />
                </div>
                <span asp-validation-for="@Model.Appointment.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.Appointment.CustomerEmail"></label>
                </div>
                <div class="col-8">
                    <input asp-for="@Model.Appointment.CustomerEmail" class="form-control" />
                </div>
                <span asp-validation-for="@Model.Appointment.CustomerEmail" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.Appointment.AppoinmentDate"></label>
                </div>
                <div class="col-8">
                    <input asp-for="@Model.Appointment.AppoinmentDate" value="@String.Format("{0:d}",Model.Appointment.AppoinmentDate)" type="text" class="form-control" />
                </div>
                <span asp-validation-for="@Model.Appointment.AppoinmentDate" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.Appointment.AppointmentTime"></label>
                </div>
                <div class="col-8">
                    <input asp-for="@Model.Appointment.AppointmentTime" value="@string.Format("{0:t}",Model.Appointment.AppointmentTime)" type="text" class="form-control" />
                </div>
                <span asp-validation-for="@Model.Appointment.AppointmentTime" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.Appointment.CustomerPhone"></label>
                </div>
                <div class="col-8">
                    <input asp-for="@Model.Appointment.CustomerPhone" class="form-control" />
                </div>
                <span asp-validation-for="@Model.Appointment.CustomerPhone" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.Appointment.SalePerson"></label>
                </div>
                <div class="col-8">
                    @if (User.IsInRole(SD.AdminEndUser))
                    {
                        <input asp-for="@Model.Appointment.SalePerson.Name" readonly class="form-control" />
                        <input asp-for="@Model.Appointment.SalePersonId" hidden />

                    }
                    else
                    {
                        <select asp-for="@Model.Appointment.SalePersonId" asp-items="Model.SalesPerson.ToSelectListItemString(Model.Appointment.SalePersonId)" class="form-control"></select>

                    }
                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointment.isConfirmed"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointment.isConfirmed" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointment.status"></label>
                </div>
                <div class="col-8">
                    <select asp-for="Appointment.status" class="form-control">
                        <option value="success">success</option>
                        <option value="trasporting"> transporting</option>
                        <option value="cancle"> cancle</option>
                        <option value="return">return</option>
                    </select>
                    <span asp-validation-for="@Model.Appointment.status" class="text-danger"></span>
                </div>
                <span></span>
            </div>

        </div>
        <div class="col-8">
            <partial name="~/Areas/Admin/Views/Shared/_productDetails.cshtml" model="Model.Products" />
        </div>

        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Update" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}